body{
background: #ddd;
<<<<<<< HEAD
margin-top: 100px;
=======
>>>>>>> branch 'main' of https://github.com/developer-sora/sora.gg.majimak.git
	}
	
.title{
	margin-top:100px;
}	
	
.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.row.justify-content-center{
	margin-top:100px;
}