<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gg.sora.dao.Mapper">

<insert id="googleLogin" parameterType="gg.sora.dto.google">
	insert into google_id values
	(#{g_email},#{g_given_name})

</insert>


</mapper>